<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h1>고객 정보 변경</h1>
		<form method="post">
			<div>
				<div>
					<label>고객번호:</label>
					<input name="custid" type="number" th:value="${item.custid}" readonly>
				</div>
				<div>
					<label>성명:</label>
					<input name="name" type="text" th:value="${item.name}">
				</div>
				<div>
					<label>주소:</label>
					<input name="address" type="text" th:value="${item.address}">
				</div>
				<div>
					<label>전화번호:</label>
					<input name="phone" type="text" th:value="${item.phone}">
				</div>
				<div>
					<button>변경</button>
					<a href="../list"><button type="button">취소</button></a>
				</div>
			</div>
		</form>
	</div>
</body>
</html>